<div class="container">
  <!-- Weighted character -->
  <mat-form-field class="weighted-character" appearance="fill">
    <mat-label>Weighted character</mat-label>
    <input matInput
	   type="text"
	   maxlength="1"
	   [formControl]="weightedCharacterFormControl"
	   [errorStateMatcher]="weightedCharacterMatcher"
	   (input)="weightedCharacterOnInput()">
    <mat-hint align="end">{{weightedCharacterFormControl.value.length}} / 1</mat-hint>
    <mat-error *ngIf="weightedCharacterFormControl.hasError('pattern')">
      Enter a character from 'a' to 'z'
    </mat-error>
  </mat-form-field>
  <!-- Clock -->
  <div class="clock">
    {{ time | date: 'HH:mm:ss' }}
  </div>
  <!-- Generation button -->
  <button mat-stroked-button
	  name="generation-button"
	  (click)="generateOnClick()">
    Generate 2D Grid
  </button>
</div>
<!-- Grid -->
<mat-grid-list [cols]="columns + 1" [rowHeight]="getRowHeight()">
  <!-- Cell 0 0 -->
  <mat-grid-tile> </mat-grid-tile>
  <!-- Row with column indexes -->
  <ng-container *ngFor="let cell of grid[0]; let columnIndex = index">
    <!-- Cell for column index -->
    <mat-grid-tile>
      {{columnIndex}}
    </mat-grid-tile>
  </ng-container>
  <!-- Grid with row index column -->
  <ng-container *ngFor="let row of grid; let rowIndex = index">
    <!-- Cell for row index -->
    <mat-grid-tile>
      {{rowIndex}}
    </mat-grid-tile>
    <!-- Cells for grid[column][row] -->
    <ng-container *ngFor="let cell of row; let rowIndex = index">
      <mat-grid-tile colspan="1">
	{{displayCellValue(cell)}}
      </mat-grid-tile>
    </ng-container>
  </ng-container>
</mat-grid-list>
<!-- Live status -->
<div class="centered-container">
  <div class="live-status" *ngIf="generating else standby">
    Live!
  </div>
  <div class="break"></div> <!-- break -->
  <!-- Code -->
  <div mat-stroked-button *ngIf="generating">
    {{code}}
  </div>
</div>
<ng-template #standby>
  Standby
</ng-template>
