// table {
//   width: 100%;
// }
// .mat-table {
//     th {
// 	font-weight: bold;
//     }
//     td {
// 	border-right: 1px solid currentColor;
//     }
// }
// .mat-column-row-index {
//     width: 32px;
// }

mat-grid-list {
    // height: calc(100vh - 24px);
}
mat-grid-tile {
    // background: lightblue;
    border: 1px solid;
}

.weighted-character {
    width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: column;
    // gap: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
