@use '../../styles';

// table {
//   width: 100%;
// }
// .mat-table {
//     th {
// 	font-weight: bold;
//     }
//     td {
// 	border-right: 1px solid currentColor;
//     }
// }
// .mat-column-row-index {
//     width: 32px;
// }

mat-grid-list {
    // height: calc(100vh - 24px);
}
mat-grid-tile {
    // background: lightblue;
    border: 1px solid;
}

.weighted-character {
    width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-end {
    align-self: flex-end;
}

.grid-container {
    width: 95vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
