@use '../../styles';

table {
  width: 95vw;
  margin: auto;
}

.add-payment-form {
  margin: 10px;
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-form-field+button {
  margin-left: 8px;
}
