<a mat-stroked-button routerLink="/generator" class="margin-left margin-bottom">Generator</a>
<!-- Code information -->

<!-- Add payment -->
<form class="add-payment-form"
      [formGroup]="addPaymentFormGroup"
      (ngSubmit)="onFormSubmit()">
  <mat-form-field class="margin-left">
    <mat-label>Payment</mat-label>
    <input matInput
	   type="text"
	   [required]="true"
	   [formControl]="nameFormControl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput
	   type="number"
	   [required]="true"
	   [formControl]="amountFormControl">

  </mat-form-field>
  <button mat-raised-button type="submit">
    + Add
  </button>
</form>
<!-- Payments -->
<table mat-table [dataSource]="getPayments()" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> AMOUNT </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> CODE </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Grid Column -->
  <ng-container matColumnDef="grid">
    <th mat-header-cell *matHeaderCellDef> GRID </th>
    <td mat-cell *matCellDef="let element"> {{element.grid.getNumberOfCells()}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
